<!DOCTYPE html>
<html>

<head>
  <title>Invitation Email</title>
</head>

<body>
  <h1>Invitation Email</h1>
  <p>Hello,</p>
  <p>You have been invited to join our platform!</p>
  <p>Click the following link to accept the invitation:</p>
  <a href="<%= activationLink %>" style="background:#5420e2;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:50px;">Accept Invitation</a>
  <p>If the link doesn't work, you can copy and paste the following URL into your browser:</p>
  <p>
    <%= activationLink %>
  </p>
  <p>Thank you!</p>
</body>

</html>