<!DOCTYPE html>
<html>

<head>
  <title>Invitation Email</title>
</head>

<body>
  <h1>Invitation Email</h1>
  <p>Hello,</p>
  <p>You have been invited to join our platform!</p>
  <p>Click the following link to accept the invitation:</p>
  <a href="<%= activationLink %>">Accept Invitation</a>
  <p>If the link doesn't work, you can copy and paste the following URL into your browser:</p>
  <p>
    <%= activationLink %>
  </p>
  <p>Thank you!</p>
</body>

</html>